.basic-carousel {
}
.example-slide {
  width: 200px;
  height: 100px;
  background-color: rgb(40, 50, 140);
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 3px;
  div {
    padding: 35px 0;
  }
}
