.basic-carousel {
  border: 3px solid #aaa;
  padding: 5px;
  .commerce-carousel {
    .commerce-carousel-button {
      position: absolute;
      z-index: 1;
      top: 50%;
      &.prev-button {
        left: 0;
      }

      &.next-button {
        right: 0;
      }
    }
  }
  @media (min-width: 1024px) {
    width: 800px;
    margin: 0 auto;
  }
}

.example-slide {
  width: 300px;
  height: 200px;
  background-color: rgb(40, 50, 140);
  color: #fff;
  font-size: 20px;
  text-align: center;
  div {
    padding: 80px 0;
  }
}
